

.post {
    border-bottom: 1px solid #F3F1F7;
    font-family: 'Dosis', sans-serif;
    margin: 20px;
    padding: 10px;
    /* display: flex;
    flex-direction: column; */
}

h2 {
    font-size: 24px;
}

#delete{
    float: right;
    position: relative;
    border-style:none;
    font-size: 18px;
}

.upvote {
    border-style: none;
    background-color: none;
    font-size: 20px;
}

p {
    display: inline;
}

.counterArea {
    position: relative;
    float:right;
    top: -5px;
}
